@import url('https://fonts.googleapis.com/css?family=Neuton|Oswald');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #4a5f79;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1500px;
}

main article {
    background-color: #bdd1ea;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23929fac' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    margin: 20px 0;
    padding: 20px;
    height: 2200px;
}


/*---------------------------------------------------------------------------------------------------------------------------------*/


/* Enlaces del NAV */

.menu {
    background: #232f3e;
    padding: 3px;
    margin-bottom: 20px;
}

.menu .container .logo img {
    width: 150px;
    position: center;
}

.menu .container-button-menu {
    display: none;
    justify-content: space-between;
}

.menu .container-button-menu button {
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    border: 1px solid transparent;
    display: inline-block;
    cursor: pointer;
    background: none;
}

.menu .container-button-menu button:hover {
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.menu .container-button-menu btn-menu-cerrar {
    display: none;
}

.menu .container-button-menu btn-menu-cerrar.activo {
    display: inline-block;
}

.enlaces a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 9px;
    text-align: center;
    font-weight: 700;
}

.enlaces ul {
    display: flex;
    list-style: none;
}

.menu .container-enlaces-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .btn-categorias {
    color: #fff;
    padding: 7px;
    border-radius: 3px;
    display: flex;
    align-items: flex-end;
    border: 1px solid transparent;
    font-size: 20px;
    cursor: default;
}

.menu .btn-categorias i {
    margin-left: 20px;
    position: relative;
    bottom: 3px;
}

.menu .btn-categorias:hover {
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.menu .btn-categorias span {
    display: block;
    font-size: 17 px;
    font-weight: bold;
}

.menu .container-enlaces-nav .enlaces a {
    color: #ccc;
    border: 1px solid transparent;
    padding: 15px;
    border-radius: 3px;
    font-size: 18px;
}

.menu .container-enlaces-nav .enlaces a:hover {
    border: 1px solid rgba(255, 255, 255, 0.4);
}


/*---------------------------------------------------------------------------------------------------------------------------------*/


/* Enlaces del grit*/

.container-grid {
    position: relative;
}

.grid {
    width: 100%;
    display: none;
    position: absolute;
    top: 5px;
    z-index: 1000;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "categorias subcategorias subcategorias subcategorias";
}

.grid.activo {
    display: grid;
}

.grid::before {
    content: "";
    display: block;
    background: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    top: -5px;
    left: 65px;
}

.grid>div {
    background: #bdd1ea;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}


/*categorias*/

.grid .btn-regresar {
    background: #232f3e;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

.grid .btn-regresar i {
    margin-right: 10px;
}

.grid .categorias {
    grid-area: categorias;
    padding-top: 10px;
    min-height: 300px;
    overflow: auto;
}

.grid .categorias .subtitulo {
    display: none;
}

.grid .categorias a {
    color: black;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.grid .categorias a i {
    display: none;
}

.grid .categorias a:hover {
    color: red;
    font-weight: bold;
}

.grid .categorias a:hover i {
    display: inline-block;
}


/*subcategorias*/

.grid .categorias-subcategorias {
    grid-area: subcategorias;
}

.grid .subcategoria {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.grid .subcategoria.activo {
    display: grid;
}

.grid .subcategoria img {
    width: 100%;
    vertical-align: top;
    height: 100%;
    object-fit: cover;
}

.grid .enlases-subcategoria {
    padding-top: 10px;
    height: 100%;
    max-height: 300px;
    overflow: auto;
}

.grid .enlases-subcategoria a {
    color: black;
    display: block;
    font-size: 14px;
    padding: 10px 20px;
}

.grid .enlases-subcategoria a:hover {
    color: red;
}

.grid .subtitulo {
    font-size: 18px;
    font-weight: normal;
    color: red;
    padding: 10px 20px;
}

.grid .banner-subcategoria a {
    display: block;
    height: 100%;
}

.grid .galeria-subcategoria {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

.grid .galeria-subcategoria a {
    width: 50%;
    padding-top: 30px;
}


/*--------------------------------main*-----------------------------------*/

.separacion {
    padding: 4rem 5rem;
}

.tituloC {
    font-size: 40px;
    color: black;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 1s;
    text-shadow: 20px 0 20px red;
}

.tituloC:hover,
.tituloC:focus {
    background-size: 100% 2px;
}

.plano1 img {
    object-fit: cover;
    width: 91.5rem;
    padding: 0%;
    border-radius: 2rem;
    flex-wrap: wrap;
}

.eslogan {
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    padding: 1.5em 0em;
    position: relative;
}

.eslogan h2 {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 20px 0 20px red;
    text-align: center;
}

.plano2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style: solid;
    border-top: none;
    border-color: #232f3e;
    border-width: 4px;
}

.plano2 img {
    width: 22rem;
    object-fit: cover;
    border-radius: 1rem;
}

.plano2 span {
    font-size: 1.3rem;
    text-align: center;
}

.plano2-new {
    text-align: center;
    padding: 0rem 2rem;
}

.plano3 .ContainerOfertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.plano3 img {
    width: 23rem;
    object-fit: cover;
    border-radius: 1rem;
}

.principal a :hover {
    border: 3px solid rgba(214, 58, 10, 0.4);
    border-radius: 1rem;
}

.plano3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style: solid;
    border-top: none;
    border-color: #232f3e;
    border-width: 4px;
}

.plano3-ofert {
    text-align: center;
    padding: 0rem 2rem;
}

.antes {
    text-decoration: line-through;
}

.actual {
    color: red;
    font-size: 1.5rem;
}


/*--------------------------------footer*-----------------------------------*/

footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #232f3e;
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 100px;
}

.box h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: red;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.box h2:hover {
    background-size: 100% 2px;
}

.box .content {
    margin: 20px 0 0 0;
}

.left .content p {
    text-align: justify;
    color: whitesmoke;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.center .content {
    padding: 0px 10px;
    font-size: 20px;
    color: whitesmoke;
}

.center .content span {
    font-size: 18px;
    padding: 0.5rem;
}

.center .content .fas:hover {
    color: tomato;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

.left .content .social a span:hover {
    background: #f12020;
}

.cop p {
    color: white;
    padding: 0 15px 0 0;
    text-align: center;
}

.ring {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*---------------------------------------CONTACTO-----------------------------------------------------*/

.container .contacto {
    background-color: #bdd1ea;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23929fac' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    margin: 20px 0;
    padding: 20px;
    height: 600px;
    position: relative;
    justify-content: left;
    display: flex;
}

.container .contacto .contactinfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #0f3959;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-self: start;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.container .contacto .contactinfo h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.container .contacto .contactinfo h2:hover {
    background-size: 100% 2px;
}

.container .contacto .contactinfo .info {
    position: relative;
    margin: 20px 0;
    padding: 3rem 2rem;
}

.container .contacto .contactinfo .info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.container .contacto .contactinfo .info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

.container .contacto .contactinfo .info li span:nth-child(1) i {
    font-size: 30px;
    filter: invert(1);
    opacity: 0.5;
}

.container .contacto .contactinfo .info li span:nth-child(2) {
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
}

.container .contacto .contactinfo .info li:hover span:nth-child(1) i,
.container .contacto .contactinfo .info li:hover span:nth-child(2) {
    opacity: 1;
}

.container .contacto .contactinfo .sci {
    position: relative;
    display: flex;
    padding-left: 1.85rem;
}

.container .contacto .contactinfo .sci li {
    list-style: none;
    margin-right: 15px;
}

.container .contacto .contactinfo .sci li a {
    text-decoration: none;
}

.container .contacto .contactinfo .sci li a:hover span {
    opacity: 1;
}

.container .contacto .contactForm {
    position: absolute;
    padding: 70px 50px;
    background: whitesmoke;
    margin-left: 113px;
    padding-left: 250px;
    width: calc(100% - 155px);
    height: 96%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}

.container .contacto .contactForm h2 {
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}

.container .contacto .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.container .contacto .contactForm .formBox .inputBox {
    position: relative;
    margin: 0 0 35px 0;
}

.container .contacto .contactForm .formBox .inputBox.w50 {
    width: 47%;
}

.container .contacto .contactForm .formBox .inputBox.w100 {
    width: 100%;
}

.container .contacto .contactForm .formBox .inputBox textarea,
.container .contacto .contactForm .formBox .inputBox input {
    width: 100% !important;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

.container .contacto .contactForm .formBox .inputBox textarea {
    min-height: 120px;
}

.container .contacto .contactForm .formBox .inputBox label {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: 0.5;
    pointer-events: none;
}

.container .contacto .contactForm .formBox .inputBox textarea:focus~label,
.container .contacto .contactForm .formBox .inputBox input:focus~label,
.container .contacto .contactForm .formBox .inputBox textarea:valid~label,
.container .contacto .contactForm .formBox .inputBox input:valid~label {
    transform: translateY(-20px);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    color: red;
}

input[type="email"]:focus~label {
    transform: translateY(-20px);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    color: red;
}

.container .contacto .contactForm .formBox .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: #0f3959;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}

.container .contacto .contactForm .formBox .inputBox input[type="submit"]:hover {
    background: red;
}

.container .contacto .contactForm .formBox .inputBox input[type="reset"] {
    position: relative;
    cursor: pointer;
    background: #0f3959;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}

.container .contacto .contactForm .formBox .inputBox input[type="reset"]:hover {
    background: red;
}

.footerContact {
    position: fixed;
    padding: 1rem 30rem;
}

.footerContact .loogo {
    text-align: center;
    display: flex;
    align-items: center;
}

.footerContact .loogo .cop p {
    font-size: 25px;
}

.sci a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

.sci a span:hover {
    background: #f12020;
}

.sci {
    margin: 20px 0 0 0;
}